<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style media="screen">
    body{
      background-image: -webkit-repeating-radial-gradient(top left, circle, orange, yellow 10%, orange 20%);

    }
    *{
      margin:0;
      padding: 0;
    }
      body{
        background-image: url(css/images/error.jpeg);
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
      }
      h2{
        color: red;
        font-family: cursive;
        background-color: orange;
        padding:2px;
      }
      @media only screen and (max-width:370px){
        h2{
          font-size: 15px;
        }
      }
    </style>
</head>
<body>
  <h2>Error! Either the name is empty or the difficulty level is not set. Please try again!</h2>
</body>
</html>
