<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
        <img src="css/images/bgLogin.jpg" alt="">
        <div class="mainCont">
            <form action="/" method="post">
                <input type="text" name="PlayerName" id="PlayerName" placeholder="Enter your name" autocomplete="off">
                <div class="cont1">
                <input type="number" name="difficulty" id="difficulty" max=2 min=1 placeholder="Difficulty(1-2)">
                <input type="submit" value="Start!" id="submit">
            </div>
            </form>
        </div>
        <button id="btn">Start!</button>
        <div id="footer">Made with ❤️ by Rakshit</div>
    </body>
    <script src="js/login.js"></script>
</html>
