*{
    padding: 0;
    margin: 0;
}
body{
    background-image: -webkit-repeating-radial-gradient(top left, circle, orange, yellow 10%, gold 20%);
}
img{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 50%;
}
#PlayerName{
    display: block;
    width: 100%;
    height: 30px;
    background-color: lightgreen;
    color: blue;
    padding-left: 10px;

}
#PlayerName:hover{
    background-color: cyan;

}
.cont1{
    margin-top: 30px;
}

#difficulty{
    width: 95px;
    height: 20px;
    background-color: cyan;
    color: blue;
    padding-left:2px;
}
#difficulty:hover{
    background-color: lightgreen;
}

.mainCont{
    position: absolute;
    top: 50px;
    padding-left: 10px;
    display: none;
}
#submit{
    display: block;
    background-color: cyan;
    margin-top: 20px;
    width: 50px;
    height: 25px;
}
#submit:hover{
    background-color: lightgreen;
    cursor: pointer;
}
#btn{
    width: 100px;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: 2px solid cyan;
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 25px;
}
input{
  border-radius: 5px;
  border: 2px solid blue;
}
#footer{
    
    background-color: rgb(218,218,210);
    color: blue;
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}