*{
    padding: 0;
    margin: 0;
}


h1{
    font-family: cursive;
    color: red;
    background-color: rgb(220,220,210);

    text-align: center;
}
.container{
    width: 100vw;
    height: 100vh;
    /* background-image: -webkit-repeating-radial-gradient(top left, circle, blue, chartreuse 10%, blue 20%); */
    background-image: url('./images/bg4.jpg');
    background-size: 50vw 70vh;


}
.questionSection{
    /* background-color: white; */
    width: 50vw;
    height: 50vh;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    background-image: -webkit-repeating-radial-gradient(top left, circle, white, rgb(218, 218, 207) 10%, white 20%);

}
#ques{
    font-family: 'Padauk', sans-serif;
    color: blue;
    font-size: 20px;
    line-height: 1;
}
#scoreF{
  display: none;
  width: 90px;
  margin: auto;
  padding:1px;
  height: 40px;
  border: 2px solid black;
  background-color: rgb(218,218,207);
  border-radius: 3px;
  color: red;
}
#scoreF:hover{
  cursor: pointer;
}
.options{
    margin-top: 20px;
    color: red;
    font-family: 'Bree Serif', serif;
    font-size: 15px;
}
@media only screen and (max-width:500px){
    .questionSection{
        width: 100vw;
    }
    .container{
        background-size: 100vw 50vh;
    }
}
#nextQues{
    background-color: cyan;
    border: 2px solid white;
    width: 70px;
    height: 40px;
    color: red;
    font-size: 15px;
}
#nextQues:hover{
    cursor: pointer;
    background-color: lightgreen;
}

#Answer{
    margin-top: 10px;
    visibility: hidden;
    width: 350px;
    height: 20px;
    padding: 4px;
    background-color: cyan;
}
#submit{
  background-color: cyan;
  border: 2px solid white;
  width: 70px;
  height: 40px;
  color: red;
  font-size: 15px;
  margin-top: 10px;
}
#submit:hover{
    cursor: pointer;
    background-color: lightgreen;
}
.buttons{
  text-align: center;
}
#showResults{
  background-color: cyan;
  border: 2px solid white;
  border-radius: 5px;
  width: 70px;
  height: 40px;
  color: red;
  display: block;
  margin:auto;
  font-size: 15px;
  display: none;
}
#showResults:hover{
  cursor: pointer;
  background-color: lightgreen;
}
#footer{
    
    background-color: rgb(218,218,210);
    color: blue;
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}